<h3>App Layout</h3>
<div class="p-field p-col-12 p-md-4 cld ">
  <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon" (onSelect)="selectDate($event)"></p-calendar>
</div>
<div class="tbl">
<p-table #myTab *ngIf="isDataError" [value]="exchangeCurrency" [paginator]="true"  [rows]="5" >
  <ng-template pTemplate="header" let-columns>
     <tr>
      <th pSortableColumn="symbolwaluty">
       
        <div class="p-d-flex p-jc-between p-ai-center">
          Symbol waluty
          <p-columnFilter type="text" field="Symbol waluty" display="menu"></p-columnFilter>
        
               
        </div>
      </th>
      <th pSortableColumn="waluta">
        <div class="p-d-flex p-jc-between p-ai-center">
          Waluta
          <p-columnFilter type="text" field="Waluta" display="menu"></p-columnFilter>
        </div>

      </th>
      <th pSortableColumn="kurswaluty">
        <div class="p-d-flex p-jc-between p-ai-center">
          Kurs waluty
          <p-columnFilter type="text" field="Kurs waluty" display="menu"></p-columnFilter>
        </div>
      </th>
      <!-- <th *ngFor="let col of cols" [pSortableColumn]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th> -->
    </tr>
   
  </ng-template>
  <ng-template pTemplate="body" let-exchange sortMode="multiple">
    <tr>
      <td>
        {{ exchange.code }}
      </td>
      <td>
        {{ exchange.currency }}
      </td>
      <td>
        {{ exchange.mid }}
      </td>
    </tr>
  </ng-template>
</p-table>
</div>
<div  class="errorMessage" *ngIf="!isDataError">{{errorMessage}}</div>